<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <title>Monopoly Webspiel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="centered-content">
    <h1>Du bist ein schlechter Mensch</h1>
    <img src="{{ url_for('static', filename='img/angry-man-274175_1280.jpg') }}" alt="Wütender Mann" width="400"><br>
    <h2>Schaue dieses Viedeo Damit Du dich den Indern Wieder Gut Stellst</h2>
    <h2>Sonst werdes sie dich für immer Hassen</h2>
    <button onclick="window.location.href='https://youtu.be/HjPgdhRsGIQ?feature=shared'">Bekehre dich</button>
    <button onclick="window.location.href='/';">Zur Homepage</button>
</body>
</html>
