<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <title>Monopoly Webspiel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="centered-content">
    <h1>Du bist kein guter Mensch...</h1>
    <img src="{{ url_for('static', filename='img/angry-man-274175_1280.jpg') }}" alt="Wütender Mann" width="400"><br>
    <h2>Schau dieses Video an, um dich zu bekehren.</h2>
    <h2>Sonst wird es schwerwiegende Konsequenzen haben...</h2>
    <button onclick="window.location.href='https://youtu.be/HjPgdhRsGIQ?feature=shared'" target="_blank">Bekehre dich</button>
    <button onclick="window.location.href='/';">Zur Homepage</button>
</body>
</html>
