<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <title>Monopoly Webspiel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Name: {{ user_name }}</h2>
    <h2>Alter: {{ user_age }}</h2>

    <form method="POST">
        <label for="age">Alter:</label>
        <input type="number" id="age" name="age" min="0" value="{{ user_age }}" required><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ user_name }}" required><br>

        <button type="submit">Aktualisieren</button>
    </form>
</body>
</html>
